* Lists are used to store multiple items in a single variable.It is a sequence data type which is used to store the collection of data.
* List items are ordered, changeable, and allow duplicate values.
* A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered -add, and remove items in a list even after their creation.
* List is defined within a square bracket and values are separated by a comma
* Like any other data type, the index of list starts from 0 only
* You can have duplicate entries in a list as well

### Creating a list

In [1]:
# Creating a List
List = []
print("Blank List: ")
print(List)

Blank List:
[]

In [2]:
# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)

List of numbers:
[10, 20, 14]

In [3]:
# Creating a List of strings
List = ["Python", "For", "Data","Science"]
print("\nList Items: ")
print(List)

List Items:
['Python', 'For', 'Data', 'Science']

In [4]:
# Creating a List with the use of Numbers (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("List with the use of Numbers: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

In [5]:
# Creating a List with mixed type of values (Having numbers and strings)
List = [1, "Python",3,"For", "Data","Science"]
print("\nList with the use of Mixed Values: ")
print(List)

List with the use of Mixed Values:
[1, 'Python', 3, 'For', 'Data', 'Science']

### Accessing elements from the List

* In order to access the list items refer to the index number.
* List items are indexed, the first item has index [0], the second item has index [1] etc.
* Nested lists are accessed using nested indexing.

In [6]:
List = [1, "Python",3,"For", "Data","Science"]
print(List[0])
print(List[1])

1
Python

In [7]:
print(List[5:])
print(List[:5])

['Science']
[1, 'Python', 3, 'For', 'Data']

In [8]:
print(List[-3:])
print(List[:-3])

['For', 'Data', 'Science']
[1, 'Python', 3]

In [9]:
print(List[::-1])

['Science', 'Data', 'For', 3, 'Python', 1]

In [10]:
# Creating a Multi-Dimensional List (By Nesting a list inside a List)
l1= [['Python', 'For'], ['Data'],2]
print(l1)

[['Python', 'For'], ['Data'], 2]

In [11]:
print("Accessing a element from a Multi-Dimensional list")
print(l1[0][1])
print(l1[1][0])
print(l1[1])

Accessing a element from a Multi-Dimensional list
For
Data
['Data']

### List Functions

1. len()
* len() is used to get the length of the list.

In [13]:
# Creating a List
List1 = []
print(len(List1))

# Creating a List of numbers
nums = [10, 20, 14]
print(len(nums))

0
3

2. append():
    * Elements can be added to the List by using the built-in append() function. 
    * Only one element at a time can be added to the list by using the append() method, for the addition of multiple elements with the append() method, loops are used. 
     * Tuples can also be added to the list with the use of the append method because tuples are immutable.

In [14]:
print("nums",nums)
nums.append(35)
print("nums after append",nums)

nums [10, 20, 14]
nums after append [10, 20, 14, 35]

In [15]:
# Adding elements to the List using Iterator
for i in range(21, 24):
    nums.append(i)
print("List after Addition of elements: ")
print(nums )

List after Addition of elements:
[10, 20, 14, 35, 21, 22, 23]

In [16]:
# Adding Tuples to the List
nums.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(nums)

List after Addition of a Tuple:
[10, 20, 14, 35, 21, 22, 23, (5, 6)]

In [17]:
# Adding list to the List
nums.append([45, 76])
print("\nList after Addition of a List: ")
print(nums)

List after Addition of a List:
[10, 20, 14, 35, 21, 22, 23, (5, 6), [45, 76]]

3. insert()
* Adds an element at the specified position
* the insert() method requires two arguments(position, value)

In [18]:
print("Initial List: ",nums)


# Addition of Element at specific Position
nums.insert(3, 100)
print("List after performing Insert Operation: ")
print(nums)

Initial List:  [10, 20, 14, 35, 21, 22, 23, (5, 6), [45, 76]]
List after performing Insert Operation:
[10, 20, 14, 100, 35, 21, 22, 23, (5, 6), [45, 76]]

4. extend()
* Add the elements of a list (or any iterable/multiple elements), to the end of the current list

In [19]:
# Addition of multiple elements to the List at the end
chars = []
chars.extend([8, 'Python', 'world'])
print("List after performing Extend Operation: ")
print(chars)

List after performing Extend Operation:
[8, 'Python', 'world']

5. copy()
* Returns a copy of the list

In [20]:
chars_1 = chars.copy()
print(chars_1)

[8, 'Python', 'world']

6. count()
* Returns the number of elements with the specified value

In [21]:
nums.count(20)

1

7. index()
* Returns the index of the first element with the specified value

In [22]:
nums.index(21)

5

8. reverse()
* Reverses the order of the list

In [23]:
print("List before reversal is ",nums)
nums.reverse()
print("List after reversal",nums)

List before reversal is  [10, 20, 14, 100, 35, 21, 22, 23, (5, 6), [45, 76]]
List after reversal [[45, 76], (5, 6), 23, 22, 21, 35, 100, 14, 20, 10]

8. pop()
* pop() function can also be used to remove and return an element from the list, but by default it removes only the last element of the list.
* To remove an element from a specific position of the List, the index of the element is passed as an argument to the pop() method.

In [24]:
nums.pop()

10

In [25]:
nums.pop(0)

[45, 76]

In [26]:
nums.pop(0)

(5, 6)

9. Remove()
* Remove method in List will only remove the first occurrence of the searched element.
* Elements can be removed from the List by using the built-in remove() function but an Error arises if the element doesn’t exist in the list. 
* Remove() method only removes one element at a time, to remove a range of elements, the iterator is used.

In [27]:
print(nums)

[23, 22, 21, 35, 100, 14, 20]

In [28]:
nums.remove(100)

In [29]:
nums

[23, 22, 21, 35, 14, 20]

10. sort()
* Sorts the list

In [30]:
print("List before sorting is ",nums)
nums.sort()
print("List after sorting",nums)

List before sorting is  [23, 22, 21, 35, 14, 20]
List after sorting [14, 20, 21, 22, 23, 35]

In [32]:
# Sort the list in decending order
fruits = ['cherry','orange','apple', 'banana']
print("List before sorting is ",fruits)
fruits.sort(reverse = True)
print("List after sorting",fruits)

List before sorting is  ['cherry', 'orange', 'apple', 'banana']
List after sorting ['orange', 'cherry', 'banana', 'apple']

11. clear()
* Removes all the elements from the list

In [33]:
nums.clear()
print(nums)

[]

In [34]:
print("List before applying del keyword",fruits)
del fruits[1:]
print("List after apply del keyword",fruits)

List before applying del keyword ['orange', 'cherry', 'banana', 'apple']
List after apply del keyword ['orange']

### Mathematical operation on numeric list

In [35]:
num2 = [29,12,36,34,67,98]
print("List is ",num2)

List is  [29, 12, 36, 34, 67, 98]

In [38]:
print("Min =",min(num2))
print("Max =",max(num2))
print("Sum =",sum(num2))

Min = 12
Max = 98
Sum = 276

In [39]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

### The list() Constructor
* It is also possible to use the list() constructor when creating a new list.

In [42]:
fruits1 = list(("apple", "banana", "cherry")) # note the double round-brackets
print(fruits1)

['apple', 'banana', 'cherry']

### Change List Items

#### 1. Change Item Value
* To change the value of a specific item, refer to the index number:

In [43]:
print("Original List is ",fruits1)
fruits1[1] = "blackcurrant"

print("After change list is ",fruits1)

Original List is  ['apple', 'banana', 'cherry']
After change list is  ['apple', 'blackcurrant', 'cherry']

2. Change a Range of Item Values
* To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [44]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruits[1:3] = ["blackcurrant", "watermelon"]
print("After change list is ",fruits)

After change list is  ['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [45]:
list2 = ["apple", "banana", "cherry"]

list2[1:3] = ["watermelon"]

print(list2)

['apple', 'watermelon']

* If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.
* The length of the list will change when the number of items inserted does not match the number of items replaced.

### Loop Lists

### 1. Loop Through a List
* You can loop through the list items by using a for loop:

In [46]:
list1 = [1, 5, 7, 9, 3]
for x in list1:
    print(x)

1
5
7
9
3

#### 2. Loop Through the Index Numbers
* You can also loop through the list items by referring to their index number.
* Use the range() and len() functions to create a suitable iterable.

In [47]:
for i in range(len(list1)):
    print(list1[i])

1
5
7
9
3

### List Comprehension

* Python List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc. 
* List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
* A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

* Syntax:
    * newList = [ expression(element) for element in oldList if condition ]
    
    * Parameters:
        * Expression: Expression that is used to modify each item in the statement
        * Item: The element in the iterable
        * List: An iterable object

In [48]:
print("Actual List is ",list1)

Actual List is  [1, 5, 7, 9, 3]

### Some Examples when to used list comprehensions:

#### 1. Creating a Transformed List
* When  function or operation applied to each element in a list and store the results in a new list.

In [49]:
sqr = [i**2 for i in list1]
print("New List(Square of Items)",sqr)

New List(Square of Items) [1, 25, 49, 81, 9]

#### 2. Filtering a List
* When you want to create a new list that contains only the elements that satisfy a certain condition.

In [50]:
# odd numbers from range 1 to 10
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print(odd_square)

[1, 9, 25, 49, 81]

In [51]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

#### 3. Combining Multiple Iterables
* When you want to create a new list based on combinations of elements from multiple iterables.

In [53]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
combined = [(letter, number) for letter in letters for number in numbers]
print(combined)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [54]:
# A list of list for multiplication table  
a = 5
table = [[a, b, a * b] for b in range(1, 11)]  
   
print("\nMultiplication Table")  
for i in table:  
    print (i)

Multiplication Table
[5, 1, 5]
[5, 2, 10]
[5, 3, 15]
[5, 4, 20]
[5, 5, 25]
[5, 6, 30]
[5, 7, 35]
[5, 8, 40]
[5, 9, 45]
[5, 10, 50]

#### 4. Flattening a Nested List
* When you have a list of lists (a nested list) and you want to create a single flattened list.

Syntax: new_list = [[expression for item in list] for item in list]

In [55]:
#matrix of 5 elemnts
matrix = [[j for j in range(5)] for i in range(5)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [56]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
 
odd_numbers = [element for row in matrix for element in row if element % 2 != 0]
 
print(odd_numbers)

[1, 3, 5, 7, 9]

In [57]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6]

#### 5. Mapping Functions to a List
* When you want to apply a function to every element of a list.

In [67]:
words = ['hello', 'world']
capitalized_words = [word.upper() for word in words]
print(capitalized_words)

['HELLO', 'WORLD']

#### Why Use List Comprehension?
* Conciseness: It reduces the amount of code needed to create lists.
* Readability: It can make your code more readable, as it expresses the intention in a single line.
* Performance: It is often faster than using a traditional for loop to create a list because it's optimized for this purpose.

### Join Two Lists

In [64]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [65]:
# using naive method to concat
for i in list1 :
    list2.append(i)

print ("Concatenated list using naive method : "+ str(list2))

Concatenated list using naive method : [1, 2, 3, 'a', 'b', 'c']

### Concatinate two list

In [66]:
test_list1 = ["appl", "i", "be"]
test_list2 = ['e', 's', 'st']

print ("The original list 1 is : " + str(test_list1))
print ("The original list 2 is : " + str(test_list2))

# using list comprehension + zip()
# interlist element concatenation
res = [i + j for i, j in zip(test_list1, test_list2)]

# printing result 
print ("The list after element concatenation is : " + str(res))

The original list 1 is : ['appl', 'i', 'be']
The original list 2 is : ['e', 's', 'st']
The list after element concatenation is : ['apple', 'is', 'best']